# Prerequisites
*.d

# ignore binary directory
bin/

# ignore emacs backups
*~

# ignore emacs autosave files
\#*\#
*.elc
tramp
.\#*


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
